*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, #app {
  height: 100%;
}

html {
  font-size: 16px;
  cursor: url("@/assets/cursors/auto.png") 16 16, auto;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Itim', monospace;
  background-color: black;
  color: #ccc;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

:root {
  --popper-theme-background-color: #222;
  --popper-theme-background-color-hover: #222;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 0.75rem 1rem;
}
