*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, #app {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Space Mono', monospace;
  background-color: black;
  color: #ccc;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
